<% content_for :javascript_includes do %>
  <script type="text/javascript">

    let csrfToken = null;  // will be set when document is ready

    async function DoReturnLoan(id) {
      const response = await fetch('/loans/'+id, {
        method: 'PATCH',
        body: JSON.stringify({returned_at: true}),
        headers: {
          "X-CSRF-Token": csrfToken,
          'X-Requested-With': 'XMLHttpRequest', 
          "Content-Type": "application/json"
      }});
      if(response.ok) {
        // TODO query and display the return date instead
        //location.reload();
      }
    }

    addEventListener("load", () => {
      csrfToken = document.querySelector("[name='csrf-token']").content
      document.querySelectorAll("a[data-return-loan]").forEach((element) => {
        element.addEventListener("click", (event) => {
          event.preventDefault();
          const {returnLoan} = element.dataset;
          DoReturnLoan(returnLoan);
        });
      });
    });

  </script>
<% end %>
<p id="notice"><%= notice %></p>

<h1>Loans</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Good</th>
      <th>Borrowed at</th>
      <th>Due at</th>
      <th>Returned?</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.user.email %></td>
        <td><%= loan.good.name %></td>
        <td><%= loan.borrowed_at %></td>
        <td><%= loan.due_at %></td>
        <td><%= loan.returned_at %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><a href="#" data-return-loan="<%= loan.id %>">Return</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
