<% content_for :javascript_includes do %>
  <script type="text/javascript">
    async function returnLoan(id) {
      const fd = new FormData();
      fd.append('returned_at', 'true');
      const response = await fetch('/loan/'+id, {
        method: 'PATCH',
        body: fd,
        headers: {'X-Requested-With': 'XMLHttpRequest'},
      });
      console.log(response);
    }

    addEventListener("load", () => {
      document.querySelectorAll("a[data-return-loan]").forEach((element) => {
        element.addEventListener("click", (event) => {
          event.preventDefault();
          const {returnLoan} = element.dataset;
          console.log("Request return of loan", returnLoan);
        });
      });
    });

  </script>
<% end %>
<p id="notice"><%= notice %></p>

<h1>Loans</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Good</th>
      <th>Borrowed at</th>
      <th>Due at</th>
      <th>Owner notes</th>
      <th>Borrower notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.user.email %></td>
        <td><%= loan.good.name %></td>
        <td><%= loan.borrowed_at %></td>
        <td><%= loan.due_at %></td>
        <td><%= loan.owner_notes %></td>
        <td><%= loan.borrower_notes %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><a href="#" data-return-loan="<%= loan.id %>">Return</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
