<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @loan.user_id %>
</p>

<p>
  <strong>Good:</strong>
  <%= @loan.good_id %>
</p>

<p>
  <strong>Borrowed at:</strong>
  <%= @loan.borrowed_at %>
</p>

<p>
  <strong>Due at:</strong>
  <%= @loan.due_at %>
</p>

<p>
  <strong>Owner notes:</strong>
  <%= @loan.owner_notes %>
</p>

<p>
  <strong>Borrower notes:</strong>
  <%= @loan.borrower_notes %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
